@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #02044a;
    color: white;
}

.space-large > * {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.shiftsmall > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}